@font-face{
  font-family:Shabnam;
  src:url(../fonts/shabnam/shabnam.eot);
  src:url(../fonts/shabnam/shabnam.eot?#iefix) format("embedded-opentype"),url(../fonts/shabnam/shabnam.woff) format("woff"),url(../fonts/shabnam/shabnam.ttf) format("truetype");
  font-weight:400
}

@font-face{
  font-family:Shabnam;
  src:url(../fonts/shabnam/Shabnam-Bold-persian-digits-overwrite.eot);
  src:url(../fonts/shabnam/Shabnam-Bold-persian-digits-overwrite.eot?#iefix) format("embedded-opentype"),url(../fonts/shabnam/Shabnam-Bold-persian-digits-overwrite.woff) format("woff"),url(../fonts/shabnam/Shabnam-Bold-persian-digits-overwrite.ttf) format("truetype");
  font-weight:700
}
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  direction: rtl;
  text-align: right;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
