.torob-header {
  background-color: #f9fafb !important;
  box-shadow: inset 0 -1px #e6e6e6;
  height: 60px;
}
.logo img {
  width: 30px;
  margin-left: 20px;
  vertical-align: middle;
}

.logo {
  text-decoration: none;
  color: #d73948;
  font-size: 20px;
}

.torob-header-btn {
  background-color: #d73948;
  color: white;
}

.torob-header-btn:hover {
  background-color: #d73948;
  color: white;
}

.login-register {
  padding-top: 15px;
  padding-bottom: 15px;
}

.no-decor {
  text-decoration: none;
  color: #d73948 !important;
  display: inline-block;
  cursor: pointer;
}

.panel-main-title {
  padding-right: 20px;
  color: black;
  display: inline-block;
  font-size: 15px;
}

.dropdown a {
  padding-top: 15px;
  padding-bottom: 15px;
}
